# Expo specific settings
node-linker=hoisted
public-hoist-pattern[]=*expo*
public-hoist-pattern[]=*react-native*
public-hoist-pattern[]=@react-native-community/*

# Legacy peer deps to handle peer dependency warnings
legacy-peer-deps=true
